
CoffeeMachine.Course/slides/U01/CoffeeMachine/bin/
CoffeeMachine.Course/slides/U01/CoffeeMachine/obj/
CoffeeMachine.Course/slides/U01/CoffeeMachine/.vs/
CoffeeMachine.Course/slides.zip
bin/
obj/
.vs/
CoffeeMachine.Course/slides/U01/CoffeeMachine/.vs
CoffeeMachine.Course/slides/U01/CoffeeMachine/CoffeeMachine.csproj.user
